In [174]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [175]:
user = 'Oamen'

In [176]:
url = "https://mydramalist.com/contributors"
with requests.get(url) as result:
    if result.status_code != 200:
        print("something went wrong:", result.status_code, result.reason)
    
    with open("contributors.html", "w") as writer:
        writer.write(result.text)
    
    with open("contributors.html", "r") as reader:
        html_source = reader.read()

In [177]:
print(html_source[0][:50])

<

In [178]:
page = BeautifulSoup(html_source, "html.parser")

In [179]:
page.title.text

'Top Contributors - MyDramaList'

In [180]:
top_profiles = []
top_contributors = []
for link in page.find_all("a",{"class": "text-primary"}):
    top_profiles.append(link.get("href"))

for string in top_profiles:
    top_contributors.append(string[9:])
top_contributors.append('Oamen')
print(top_contributors[95:])

['ard9898', 'caspleo_svt', 'Domuggu', 'Gwilthyunman', 'Somach', 'Oamen']

In [181]:
url_list = []
for username in top_contributors:
    url_list.append("https://mydramalist.com/dramalist/"+str(username)+"/completed")
print(url_list[95:])

['https://mydramalist.com/dramalist/ard9898/completed', 'https://mydramalist.com/dramalist/caspleo_svt/completed', 'https://mydramalist.com/dramalist/Domuggu/completed', 'https://mydramalist.com/dramalist/Gwilthyunman/completed', 'https://mydramalist.com/dramalist/Somach/completed', 'https://mydramalist.com/dramalist/Oamen/completed']

In [182]:
url_result = []
for url in url_list:
    with requests.get(url) as resp:
        url_result.append(resp)

if url_result[0].status_code != 200:
    print("something went wrong:", url_result[0].status_code, url_result[0].reason)

for i in range(len(url_list)):
    with open(str(i)+".html", "w") as writer:
        writer.write(url_result[i].text)

html_source = []
for i in range(len(url_list)):
    with open(str(i)+".html", "r") as reader:
        html_source.append(reader.read())

print(html_source[0][:20])

<!DOCTYPE html>
<htm

In [183]:
pages = []
for i in range(len(url_list)):
    pages.append(BeautifulSoup(html_source[i], "html.parser"))

pages[100].title.text

"Oamen's Drama List - MyDramaList"

In [184]:
title_elements = []
titles = []
rating_elements = []
ratings = []
link_suffixes = []
users = []
for i in range(len(pages)):
    title_elements.append(pages[i].find_all("a",{"class": "title text-primary _600"}))
    rating_elements.append(pages[i].find_all("span",{"class": "score"}))
#print(title_elements[0])
#print(len(title_elements))
for j in range(len(pages)):
    for k in range(len(title_elements[j])):
        titles.append(title_elements[j][k].text.strip())
        link_suffixes.append(title_elements[j][k].get('href'))
        users.append(top_contributors[j])
for j in range(len(pages)):
    for k in range(len(rating_elements[j])):
        ratings.append(rating_elements[j][k].text.strip())

In [185]:
print(titles[:10])
print(len(titles))
print(ratings[:10])
print(len(ratings))
print(link_suffixes[:10])
print(users[:10])
print(len(users))

['0cm4', '1 in 10,000 (Act I)', '1 Litre no Namida', '1 Litre no Namida Special', '10 Promises to My Dog', '12 Suicidal Teens', '13', '13 Assassins', '17-sai no Teikoku', '1987: When the Day Comes']
78452
['4.0', '7.0', '10', '7.0', '6.0', '6.0', '7.0', '7.0', '7.0', '9.0']
78452
['/26095-0cm4', '/30815-1-in-10-000-act-i', '/2-1-litre-no-namida', '/3114-1-litre-no-namida-special', '/509-10-promises-to-my-dog', '/31308-12-suicidal-children', '/58887-thirteen', '/2088-13-assassins-2010', '/715865-17-sai-no-teikoku', '/21985-1987']
['hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari', 'hoshiakari']
78452

In [186]:
# using link_suffixes, open each page using requests and BeautifulSoup to scrape the average rating and the first genre
    # see if it makes sense to scrape multiple genres based on the models I can use
        # linear regression?
    # use a train/test split

# use 'with' for the requests to automatically close the request when the 'with' block ends

# it may take an absurbly long time to loop through 78035 pages, so consider alternative options
    # maybe can get through it once, and put then dataframe into a csv

In [272]:
data = pd.DataFrame(list(zip(users,titles,ratings,link_suffixes)), columns=['User','Title','Rating','link_suffixes'])
data['Rating'] = pd.to_numeric(data['Rating'])
data

,User,Title,Rating,link_suffixes
0,hoshiakari,0cm4,4.0,/26095-0cm4
1,hoshiakari,"1 in 10,000 (Act I)",7.0,/30815-1-in-10-000-act-i
2,hoshiakari,1 Litre no Namida,10.0,/2-1-litre-no-namida
3,hoshiakari,1 Litre no Namida Special,7.0,/3114-1-litre-no-namida-special
4,hoshiakari,10 Promises to My Dog,6.0,/509-10-promises-to-my-dog
...,...,...,...,...
78447,Oamen,Unlocked,5.5,/69827-smartphone
78448,Oamen,Us and Them,7.0,/28319-us-and-them
78449,Oamen,Vigilante,8.0,/691815-vigilante
78450,Oamen,Vincenzo,7.0,/61371-vincenzo
78451,Oamen,Weak Hero Class 1,6.0,/702267-weak-hero

In [188]:
# oamen_df = pd.DataFrame({'User': ['Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen','Oamen'],
#                          'Title': ['Alchemy of Souls','Alchemy of Souls Season 2: Light and Shadow','All of Us Are Dead','Bad Genius','Business Proposal',\
#                                    'Crash Landing on You','D.P.','D.P. Season 2','Descendants of the Sun','Doona!','Extraordinary Attorney Woo','Flower of Evil','Goblin','Gyeongseong Creature',\
#                                    'Happiness','Hotel del Luna','Itaewon Class','Kill Bok Soon','Moon Lovers: Scarlet Heart Ryeo','Moving','My Mister','My Name','Our Beloved Summer',\
#                                    'Parasite','Signal','Snowdrop','Soundtrack #1','Sweet Home','The Glory','The Pirates 2: The Last Royal Treasure','The Witch: Part 1. The Subversion',\
#                                    'The World of the Married','Train to Busan','Twenty-Five Twenty-One','Twinkling Watermelon','Unlocked','Us and Them','Vincenzo','Weak Hero Class 1',\
#                                    'Memories of Murder','The Glory Part 2'],
#                          'Rating': [9.5,9.5,7.5,9.0,4.0,8.5,9.5,9.5,6.5,8.0,8.0,9.0,8.0,6.0,7.0,6.0,8.0,8.0,6.5,8.5,9.0,9.5,9.5,5.5,8.0,9.0,8.5,6.5,6.0,5.0,3.5,3.0,5.5,9.5,8.5,5.5,7.0,7.0,6.0,\
#                                     8.5,6.0],
#                          'link_suffixes': ['/52939-can-this-person-be-translated','/733261-alchemy-of-souls-part-2','/59449-our-school-now','/23604-bad-genius',\
#                                            '/693591-in-house-confrontation','/35729-emergency-lands-of-love','/59001-d-p-dog-day','/713549-d-p-season-2','/10904-descendants-of-the-sun',\
#                                            '/723247-lee-doo-na','/705723-strange-lawyer-woo-young-woo','/54625-flower-of-evil','/18452-goblin','/700441-gyeongseong-creature',\
#                                            '/690709-happiness','/32925-hotel-del-luna','/33898-itaewon-class','/705863-kill-bok-soon','/15999-moon-lovers-scarlet-heart-ryeo',\
#                                            '/25560-moving','/25172-my-ajusshi','/65391-nemesis','/694231-us-that-year','/23429-parasite','/13239-signal','/62575-snowdrop',\
#                                            '/713865-why-did-you-come-to-my-house','/34064-sweet-home','/685237-untitled-kim-eun-sook-project','/32760-the-pirates-2','/29367-the-witch',\
#                                            '/39975-the-married-life','/11314-train-to-busan','/695149-twenty-five-twenty-one','/739603-sparkling-watermelon','/69827-smartphone','/28319-us-and-them','/61371-vincenzo','/702267-weak-hero',\
#                                            '/990-memories-of-murder','/745581-the-glory-season-2']})

# data = pd.concat([data,oamen_df], ignore_index=True)
# data

In [274]:
data.to_csv('user-item.csv',index=False)

In [268]:
# data = data.pivot_table(index='User',columns='Title',values='Rating',aggfunc='mean')
# data

In [280]:
df = pd.read_csv('user-item.csv')

In [282]:
df.loc[:, 'title_folded'] = df['Title'].astype(str).str.lower()

df

,User,Title,Rating,link_suffixes,title_folded
0,hoshiakari,0cm4,4.0,/26095-0cm4,0cm4
1,hoshiakari,"1 in 10,000 (Act I)",7.0,/30815-1-in-10-000-act-i,"1 in 10,000 (act i)"
2,hoshiakari,1 Litre no Namida,10.0,/2-1-litre-no-namida,1 litre no namida
3,hoshiakari,1 Litre no Namida Special,7.0,/3114-1-litre-no-namida-special,1 litre no namida special
4,hoshiakari,10 Promises to My Dog,6.0,/509-10-promises-to-my-dog,10 promises to my dog
...,...,...,...,...,...
78447,Oamen,Unlocked,5.5,/69827-smartphone,unlocked
78448,Oamen,Us and Them,7.0,/28319-us-and-them,us and them
78449,Oamen,Vigilante,8.0,/691815-vigilante,vigilante
78450,Oamen,Vincenzo,7.0,/61371-vincenzo,vincenzo
78451,Oamen,Weak Hero Class 1,6.0,/702267-weak-hero,weak hero class 1

In [284]:
sorted_df = df.sort_values(by=['title_folded'])
sorted_df['frequency'] = sorted_df.groupby('title_folded')['title_folded'].transform('count')
sorted_df

,User,Title,Rating,link_suffixes,title_folded,frequency
27257,9306491,"""Hello, Stepmother""",6.5,/728343-hello-stepmother,"""hello, stepmother""",1
54031,txy,#Alive,0.0,/38787-alone,#alive,30
28143,olivestulip,#Alive,7.0,/38787-alone,#alive,30
43680,haitakaz,#Alive,6.0,/38787-alone,#alive,30
19154,hideyourheart,#Alive,10.0,/38787-alone,#alive,30
...,...,...,...,...,...,...
66771,mianvnndt,‏2020 Idol Star Athletics Championships,7.5,/53045-2020-idol-star-athletics-championships,‏2020 idol star athletics championships,3
71645,7698003,‏2020 Idol Star Athletics Championships,7.5,/53045-2020-idol-star-athletics-championships,‏2020 idol star athletics championships,3
21720,begonia95,≥75℃,8.0,/53419-75,≥75℃,3
76140,caspleo_svt,≥75℃,7.0,/53419-75,≥75℃,3
27259,9306491,≥75℃,6.0,/53419-75,≥75℃,3

In [286]:
trimmed_df = sorted_df[sorted_df['frequency'] >= 15]
trimmed_df

,User,Title,Rating,link_suffixes,title_folded,frequency
54031,txy,#Alive,0.0,/38787-alone,#alive,30
28143,olivestulip,#Alive,7.0,/38787-alone,#alive,30
43680,haitakaz,#Alive,6.0,/38787-alone,#alive,30
19154,hideyourheart,#Alive,10.0,/38787-alone,#alive,30
67924,9245641,#Alive,7.0,/38787-alone,#alive,30
...,...,...,...,...,...,...
44972,haitakaz,Zombie Detective,6.5,/61063-zombie-detective,zombie detective,16
69166,9245641,Zombie Detective,3.0,/61063-zombie-detective,zombie detective,16
70776,samenai,Zombie Detective,8.5,/61063-zombie-detective,zombie detective,16
16728,8742195,Zombie Detective,8.0,/61063-zombie-detective,zombie detective,16
27255,AnastasiaWun,Zombie Detective,7.5,/61063-zombie-detective,zombie detective,16

In [288]:
trimmed_df.loc[:,'median_rating'] = trimmed_df.groupby('title_folded')['Rating'].transform('median')

print(trimmed_df)

                User             Title  Rating            link_suffixes  \
54031            txy            #Alive     0.0             /38787-alone
28143    olivestulip            #Alive     7.0             /38787-alone
43680       haitakaz            #Alive     6.0             /38787-alone
19154  hideyourheart            #Alive    10.0             /38787-alone
67924        9245641            #Alive     7.0             /38787-alone
...              ...               ...     ...                      ...
44972       haitakaz  Zombie Detective     6.5  /61063-zombie-detective
69166        9245641  Zombie Detective     3.0  /61063-zombie-detective
70776        samenai  Zombie Detective     8.5  /61063-zombie-detective
16728        8742195  Zombie Detective     8.0  /61063-zombie-detective
27255   AnastasiaWun  Zombie Detective     7.5  /61063-zombie-detective

           title_folded  frequency  median_rating
54031            #alive         30            7.0
28143            #alive         30            7.0
43680            #alive         30            7.0
19154            #alive         30            7.0
67924            #alive         30            7.0
...                 ...        ...            ...
44972  zombie detective         16            8.0
69166  zombie detective         16            8.0
70776  zombie detective         16            8.0
16728  zombie detective         16            8.0
27255  zombie detective         16            8.0

[19511 rows x 7 columns]

/var/folders/10/6h6zw_3x7p70dkxr50fcp0fw0000gn/T/ipykernel_49273/120840722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed_df.loc[:,'median_rating'] = trimmed_df.groupby('title_folded')['Rating'].transform('median')

In [290]:
# median_df = trimmed_df.drop_duplicates(subset=['title_folded'])
median_df = trimmed_df[trimmed_df.median_rating >= 7.0]
median_df = median_df.reset_index(drop=True)
# median_df = median_df.drop(columns=['Rating','index'])
median_df

,User,Title,Rating,link_suffixes,title_folded,frequency,median_rating
0,txy,#Alive,0.0,/38787-alone,#alive,30,7.0
1,olivestulip,#Alive,7.0,/38787-alone,#alive,30,7.0
2,haitakaz,#Alive,6.0,/38787-alone,#alive,30,7.0
3,hideyourheart,#Alive,10.0,/38787-alone,#alive,30,7.0
4,9245641,#Alive,7.0,/38787-alone,#alive,30,7.0
...,...,...,...,...,...,...,...
18887,haitakaz,Zombie Detective,6.5,/61063-zombie-detective,zombie detective,16,8.0
18888,9245641,Zombie Detective,3.0,/61063-zombie-detective,zombie detective,16,8.0
18889,samenai,Zombie Detective,8.5,/61063-zombie-detective,zombie detective,16,8.0
18890,8742195,Zombie Detective,8.0,/61063-zombie-detective,zombie detective,16,8.0
18891,AnastasiaWun,Zombie Detective,7.5,/61063-zombie-detective,zombie detective,16,8.0

In [292]:
data = median_df.pivot_table(index='User',columns='title_folded',values='Rating',aggfunc='mean')
data

title_folded,#alive,1 litre no namida,100 days my prince,100-manen no onna-tachi,18 again,2 moons,2 moons 2,200 pounds beauty,20th century girl,2gether,...,you make me dance,you're all surrounded,you're beautiful,you're my pet,your lie in april,your name engraved herein,yu yu hakusho,yyy,zettai bl ni naru sekai vs zettai bl ni naritakunai otoko,zombie detective
User,,,,,,,,,,,,,,,,,,,,,
10810983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7678823,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7692329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7698003,NaN,NaN,7.5,NaN,8.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7961539,NaN,NaN,NaN,NaN,NaN,8.0,5.0,NaN,NaN,6.0,...,NaN,NaN,6.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
wildfllower,NaN,NaN,NaN,NaN,0.0,7.0,6.5,NaN,NaN,NaN,...,6.5,NaN,NaN,NaN,NaN,8.0,NaN,NaN,9.5,NaN
xAyuu,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
xxmai,NaN,NaN,NaN,NaN,NaN,8.5,6.5,9.0,NaN,7.0,...,6.5,NaN,9.5,4.5,7.5,NaN,NaN,6.5,8.0,NaN
yangela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zhengyi95,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [294]:
data.to_csv('pivoted.csv')

In [296]:
# --------------------------------------------separate section--------------------------------------------
# item features data

In [192]:
df = pd.DataFrame(list(zip(titles, ratings,link_suffixes)), columns=['Title', 'Rating','link_suffixes'])
print(df[:15])

                                        Title Rating  \
0                                        0cm4    4.0
1                         1 in 10,000 (Act I)    7.0
2                           1 Litre no Namida     10
3                   1 Litre no Namida Special    7.0
4                       10 Promises to My Dog    6.0
5                           12 Suicidal Teens    6.0
6                                          13    7.0
7                                13 Assassins    7.0
8                           17-sai no Teikoku    7.0
9                    1987: When the Day Comes    9.0
10          2018 MBC Music Festival: The Live    6.0
11                2022 KBS Song Festival: Y2K    7.0
12  20th Century Boys 1: Beginning of the End    7.0
13                                     3 Days    8.0
14                                     3-Iron     10

                                    link_suffixes
0                                     /26095-0cm4
1                        /30815-1-in-10-000-act-i
2                            /2-1-litre-no-namida
3                 /3114-1-litre-no-namida-special
4                      /509-10-promises-to-my-dog
5                     /31308-12-suicidal-children
6                                 /58887-thirteen
7                         /2088-13-assassins-2010
8                       /715865-17-sai-no-teikoku
9                                     /21985-1987
10       /758023-2018-mbc-music-festival-the-live
11                 /744535-2022-kbs-song-festival
12  /535-20th-century-boys-1-beginning-of-the-end
13                                   /8423-3-days
14                                   /1475-3-iron

In [193]:
df['Rating'] = pd.to_numeric(df['Rating'])
print(df.dtypes)

Title             object
Rating           float64
link_suffixes     object
dtype: object

In [194]:
# df.groupby('Title').median().reset_index()
# print(df)

In [195]:
# # Assuming 'df' is your DataFrame and 'Title' is a column you want to group by
# # We will select only numeric columns for the median calculation

# # Group by 'Title' and calculate the median for numeric columns only
# numeric_df = df.select_dtypes(include='number')  # Select only numeric columns
# result = df.groupby('Title')[numeric_df.columns].median().reset_index()  # Group and calculate median

# print(result)  # Print the result instead of the original DataFrame

In [196]:
df.loc[:, 'title_folded'] = df['Title'].astype(str).str.lower()

df

,Title,Rating,link_suffixes,title_folded
0,0cm4,4.0,/26095-0cm4,0cm4
1,"1 in 10,000 (Act I)",7.0,/30815-1-in-10-000-act-i,"1 in 10,000 (act i)"
2,1 Litre no Namida,10.0,/2-1-litre-no-namida,1 litre no namida
3,1 Litre no Namida Special,7.0,/3114-1-litre-no-namida-special,1 litre no namida special
4,10 Promises to My Dog,6.0,/509-10-promises-to-my-dog,10 promises to my dog
...,...,...,...,...
78447,Unlocked,5.5,/69827-smartphone,unlocked
78448,Us and Them,7.0,/28319-us-and-them,us and them
78449,Vigilante,8.0,/691815-vigilante,vigilante
78450,Vincenzo,7.0,/61371-vincenzo,vincenzo
78451,Weak Hero Class 1,6.0,/702267-weak-hero,weak hero class 1

In [197]:
sorted_df = df.sort_values(by=['title_folded'])
sorted_df['frequency'] = sorted_df.groupby('title_folded')['title_folded'].transform('count')
sorted_df

,Title,Rating,link_suffixes,title_folded,frequency
27257,"""Hello, Stepmother""",6.5,/728343-hello-stepmother,"""hello, stepmother""",1
54031,#Alive,0.0,/38787-alone,#alive,30
28143,#Alive,7.0,/38787-alone,#alive,30
43680,#Alive,6.0,/38787-alone,#alive,30
19154,#Alive,10.0,/38787-alone,#alive,30
...,...,...,...,...,...
66771,‏2020 Idol Star Athletics Championships,7.5,/53045-2020-idol-star-athletics-championships,‏2020 idol star athletics championships,3
71645,‏2020 Idol Star Athletics Championships,7.5,/53045-2020-idol-star-athletics-championships,‏2020 idol star athletics championships,3
21720,≥75℃,8.0,/53419-75,≥75℃,3
76140,≥75℃,7.0,/53419-75,≥75℃,3
27259,≥75℃,6.0,/53419-75,≥75℃,3

In [198]:
trimmed_df = sorted_df[sorted_df['frequency'] >= 15]
trimmed_df

,Title,Rating,link_suffixes,title_folded,frequency
54031,#Alive,0.0,/38787-alone,#alive,30
28143,#Alive,7.0,/38787-alone,#alive,30
43680,#Alive,6.0,/38787-alone,#alive,30
19154,#Alive,10.0,/38787-alone,#alive,30
67924,#Alive,7.0,/38787-alone,#alive,30
...,...,...,...,...,...
44972,Zombie Detective,6.5,/61063-zombie-detective,zombie detective,16
69166,Zombie Detective,3.0,/61063-zombie-detective,zombie detective,16
70776,Zombie Detective,8.5,/61063-zombie-detective,zombie detective,16
16728,Zombie Detective,8.0,/61063-zombie-detective,zombie detective,16
27255,Zombie Detective,7.5,/61063-zombie-detective,zombie detective,16

In [199]:
# numeric_df = trimmed_df.select_dtypes(include='number')  # Select only numeric columns
# median_df = trimmed_df.groupby(['title_folded','link_suffixes'])[numeric_df.columns].median().reset_index()  # Group and calculate median

In [200]:
trimmed_df.loc[:,'median_rating'] = trimmed_df.groupby('title_folded')['Rating'].transform('median')

print(trimmed_df)

                  Title  Rating            link_suffixes      title_folded  \
54031            #Alive     0.0             /38787-alone            #alive
28143            #Alive     7.0             /38787-alone            #alive
43680            #Alive     6.0             /38787-alone            #alive
19154            #Alive    10.0             /38787-alone            #alive
67924            #Alive     7.0             /38787-alone            #alive
...                 ...     ...                      ...               ...
44972  Zombie Detective     6.5  /61063-zombie-detective  zombie detective
69166  Zombie Detective     3.0  /61063-zombie-detective  zombie detective
70776  Zombie Detective     8.5  /61063-zombie-detective  zombie detective
16728  Zombie Detective     8.0  /61063-zombie-detective  zombie detective
27255  Zombie Detective     7.5  /61063-zombie-detective  zombie detective

       frequency  median_rating
54031         30            7.0
28143         30            7.0
43680         30            7.0
19154         30            7.0
67924         30            7.0
...          ...            ...
44972         16            8.0
69166         16            8.0
70776         16            8.0
16728         16            8.0
27255         16            8.0

[19511 rows x 6 columns]

/var/folders/10/6h6zw_3x7p70dkxr50fcp0fw0000gn/T/ipykernel_49273/120840722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trimmed_df.loc[:,'median_rating'] = trimmed_df.groupby('title_folded')['Rating'].transform('median')

In [201]:
median_df = trimmed_df.drop_duplicates(subset=['title_folded'])
median_df = median_df[median_df.median_rating >= 7.0]
# median_df = median_df[median_df.Title != 'HIStory: Stay Away from Me']
# median_df = median_df[median_df.Title != 'Present Perfect']
# median_df = median_df[median_df.Title != 'Step for You']
# median_df = median_df[median_df.Title != 'Tsuge & Minato']
median_df = median_df.reset_index(drop=True)
median_df = median_df.drop(columns=['Rating'])
median_df.loc[158,'link_suffixes'] = '/515-departures'
median_df

,Title,link_suffixes,title_folded,frequency,median_rating
0,#Alive,/38787-alone,#alive,30,7.0
1,1 Litre no Namida,/2-1-litre-no-namida,1 litre no namida,23,9.0
2,100 Days My Prince,/27392-hundred-days-husband,100 days my prince,25,7.5
3,100-manen no Onna-tachi,/22885-100-manen-no-onna-tachi,100-manen no onna-tachi,20,8.0
4,18 Again,/52941-eighteen-again,18 again,31,8.5
...,...,...,...,...,...
844,Your Name Engraved Herein,/36661-your-name-engraved-herein,your name engraved herein,19,8.5
845,Yu Yu Hakusho,/683555-yu-yu-hakusho,yu yu hakusho,16,8.0
846,YYY,/58613-yyy,yyy,16,7.5
847,Zettai BL ni Naru Sekai VS Zettai BL ni Narita...,/689215-absolute-bl,zettai bl ni naru sekai vs zettai bl ni narita...,24,8.0
848,Zombie Detective,/61063-zombie-detective,zombie detective,16,8.0

In [202]:
median_df.to_csv('medians.csv')

In [203]:
median_df = pd.read_csv('medians.csv')
median_df = median_df.drop(median_df.columns[0],axis=1)
median_df

,Title,link_suffixes,title_folded,frequency,median_rating
0,#Alive,/38787-alone,#alive,30,7.0
1,1 Litre no Namida,/2-1-litre-no-namida,1 litre no namida,23,9.0
2,100 Days My Prince,/27392-hundred-days-husband,100 days my prince,25,7.5
3,100-manen no Onna-tachi,/22885-100-manen-no-onna-tachi,100-manen no onna-tachi,20,8.0
4,18 Again,/52941-eighteen-again,18 again,31,8.5
...,...,...,...,...,...
844,Your Name Engraved Herein,/36661-your-name-engraved-herein,your name engraved herein,19,8.5
845,Yu Yu Hakusho,/683555-yu-yu-hakusho,yu yu hakusho,16,8.0
846,YYY,/58613-yyy,yyy,16,7.5
847,Zettai BL ni Naru Sekai VS Zettai BL ni Narita...,/689215-absolute-bl,zettai bl ni naru sekai vs zettai bl ni narita...,24,8.0
848,Zombie Detective,/61063-zombie-detective,zombie detective,16,8.0

In [204]:
links = []
for link in median_df['link_suffixes']:
    with requests.get('https://mydramalist.com'+str(link)) as resp:
        links.append(resp)

In [205]:
if links[0].status_code != 200:
    print("something went wrong:", links[0].status_code, links[0].reason)

for i in range(median_df.shape[0]):
    with open("_"+str(i)+".html", "w") as writer:
        writer.write(links[i].text)

html_source = []
for i in range(median_df.shape[0]):
    with open("_"+str(i)+".html", "r") as reader:
        html_source.append(reader.read())

print(html_source[0][:20])

<!DOCTYPE html>
<htm

In [206]:
pages = []
for i in range(median_df.shape[0]):
    pages.append(BeautifulSoup(html_source[i], "html.parser"))

In [207]:
pages[283].title.text

'HIStory: My Hero (2017) - MyDramaList'

In [208]:
list_items = []
link_items = []
actor_items = []

for i in range(len(pages)):
    list_items.append(pages[i].find_all("li",{"class": "list-item p-a-0"}))
    genre_items = pages[i].find_all("li", {"class": "list-item p-a-0 show-genres"})
    for genre_item in genre_items:
        link_items.append(genre_item.find_all("a", {"class": "text-primary"}))
    actor_items.append(pages[i].find_all("b",{"itempropx": "name"}))

In [209]:
print(actor_items[158][0].text.strip())
print(actor_items[158][1].text.strip())

Motoki Masahiro
Hirosue Ryoko

In [210]:
print(link_items[0][0].text.strip())
print(link_items[0][1].text.strip())

Thriller
Mystery

In [211]:
print(list_items[0][3].text.strip()[:8])

Country:

In [212]:
print(list_items[0][3].text.strip())

Country: South Korea

In [213]:
print(list_items[0][10].text.strip()[:6])

Conten

In [214]:
actor1 = []
actor2 = []
genre1 = []
genre2 = []
country = []
score = []

for i in range(len(actor_items)):  
    # print(i)
    
    actor1.append(actor_items[i][0].text.strip())
    
    if (len(actor_items[i]) <= 1):
        actor2.append('N/A')
    else:
        actor2.append(actor_items[i][1].text.strip())
    
    genre1.append(link_items[i][0].text.strip())
    
    if (len(link_items[i]) <= 1):
        genre2.append('N/A')
    else:
        genre2.append(link_items[i][1].text.strip())

    for j in range(7):
        if (list_items[i][j].text.strip()[:8] == "Country:"):
            country.append(list_items[i][j].text.strip()[9:])
    for h in range(15):
        if (list_items[i][h].text.strip()[:6] == "Score:"):
            score.append(list_items[i][h].text.strip()[7:11])
    
    # country.append(list_items[i][4].text.strip()[9:])
    # score.append(list_items[i][11].text.strip()[7:11])

In [215]:
print(len(country))
print(len(score))

849
849

In [216]:
full_df = median_df
full_df['actor1'] = actor1
full_df['actor2'] = actor2
full_df['genre1'] = genre1
full_df['genre2'] = genre2
full_df['country'] = country
full_df['score'] = score

In [217]:
full_df

,Title,link_suffixes,title_folded,frequency,median_rating,actor1,actor2,genre1,genre2,country,score
0,#Alive,/38787-alone,#alive,30,7.0,Yoo Ah In,Park Shin Hye,Thriller,Mystery,South Korea,7.9
1,1 Litre no Namida,/2-1-litre-no-namida,1 litre no namida,23,9.0,Sawajiri Erika,Nishikido Ryo,Romance,Drama,Japan,9.0
2,100 Days My Prince,/27392-hundred-days-husband,100 days my prince,25,7.5,Doh Kyung Soo,Nam Ji Hyun,Historical,Comedy,South Korea,8.3
3,100-manen no Onna-tachi,/22885-100-manen-no-onna-tachi,100-manen no onna-tachi,20,8.0,Noda Yojiro,Matsui Rena,Thriller,Mystery,Japan,8.0
4,18 Again,/52941-eighteen-again,18 again,31,8.5,Kim Ha Neul,Yoon Sang Hyun,Romance,Life,South Korea,8.6
...,...,...,...,...,...,...,...,...,...,...,...
844,Your Name Engraved Herein,/36661-your-name-engraved-herein,your name engraved herein,19,8.5,Edward Chen,Tseng Ching Hua,Romance,Youth,Taiwan,8.2
845,Yu Yu Hakusho,/683555-yu-yu-hakusho,yu yu hakusho,16,8.0,Kitamura Takumi,Uesugi Shuhei,Action,Adventure,Japan,8.1
846,YYY,/58613-yyy,yyy,16,7.5,Yoon Phusanu Wongsavanischakorn,Lay Talay Sanguandikul,Comedy,Romance,Thailand,7.0
847,Zettai BL ni Naru Sekai VS Zettai BL ni Narita...,/689215-absolute-bl,zettai bl ni naru sekai vs zettai bl ni narita...,24,8.0,Inukai Atsuhiro,Yutaro,Comedy,Romance,Japan,7.6
848,Zombie Detective,/61063-zombie-detective,zombie detective,16,8.0,Choi Jin Hyuk,Park Ju Hyun,Thriller,Mystery,South Korea,8.1

In [218]:
full_df.to_csv('full.csv')

In [219]:
item_features = full_df[['actor1','actor2','genre1','genre2','country']]
item_features.index = full_df['title_folded']
item_features

,actor1,actor2,genre1,genre2,country
title_folded,,,,,
#alive,Yoo Ah In,Park Shin Hye,Thriller,Mystery,South Korea
1 litre no namida,Sawajiri Erika,Nishikido Ryo,Romance,Drama,Japan
100 days my prince,Doh Kyung Soo,Nam Ji Hyun,Historical,Comedy,South Korea
100-manen no onna-tachi,Noda Yojiro,Matsui Rena,Thriller,Mystery,Japan
18 again,Kim Ha Neul,Yoon Sang Hyun,Romance,Life,South Korea
...,...,...,...,...,...
your name engraved herein,Edward Chen,Tseng Ching Hua,Romance,Youth,Taiwan
yu yu hakusho,Kitamura Takumi,Uesugi Shuhei,Action,Adventure,Japan
yyy,Yoon Phusanu Wongsavanischakorn,Lay Talay Sanguandikul,Comedy,Romance,Thailand
zettai bl ni naru sekai vs zettai bl ni naritakunai otoko,Inukai Atsuhiro,Yutaro,Comedy,Romance,Japan
zombie detective,Choi Jin Hyuk,Park Ju Hyun,Thriller,Mystery,South Korea

In [220]:
item_features.to_csv('item_features.csv')